@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: 'NEXONLv1Gothic';
	overflow-x: hidden;
	overscroll-behavior: none;
}

td {
	padding: 0;
}


#__next {
	height: 100%;
}

/* 사용 */
.full-height {
  height: calc(var(--vh, 1vh) * 100);
}

@font-face {
	font-family: 'NEXONLv1Gothic';
	font-weight: 300;
	src: url('../fonts/NEXONLv1GothicLight.ttf') format('truetype');
}
@font-face {
	font-family: 'NEXONLv1Gothic';
	font-weight: 400;
	src: url('../fonts/NEXONLv1GothicRegular.ttf') format('truetype');
}
@font-face {
	font-family: 'NEXONLv1Gothic';
	font-weight: 700;
	src: url('../fonts/NEXONLv1GothicBold.ttf') format('truetype');
}
