@layer components{
    .heading1{
        font-family: Pretendard, sans-serif;
		font-size: 50px;
		font-style: normal;
		font-weight: bold;
		line-height: 150%;
		letter-spacing: -0.25px;
    }
    .heading2{
        font-family: Pretendard, sans-serif;
		font-size: 32px;
		font-style: normal;
		font-weight: bold;
		line-height: 150%;
		letter-spacing: -0.25px;
    }
    .heading3{
        font-family: Pretendard, sans-serif;
		font-size: 28px;
		font-style: normal;
		font-weight: bold;
		line-height: 150%;
		letter-spacing: -0.25px;
    }
    .heading4{
        font-family: Pretendard, sans-serif;
		font-size: 24px;
		font-style: normal;
		font-weight: bold;
		line-height: 150%;
		letter-spacing: -0.25px;
    }
    .heading5{
        font-family: Pretendard, sans-serif;
		font-size: 20px;
		font-style: normal;
		font-weight: bold;
		line-height: 150%;
		letter-spacing: -0.25px;
    }
    .heading6{
        font-family: Pretendard, sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: bold;
		line-height: 150%;
		letter-spacing: -0.25px;
    }
    .heading7{
        font-family: Pretendard, sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: bold;
		line-height: 150%;
		letter-spacing: -0.25px;
    }
    .heading8{
        font-family: Pretendard, sans-serif;
		font-size: 14px;
		font-style: normal;
		font-weight: bold;
		line-height: 150%;
		letter-spacing: -0.25px;
    }


    .body1{
        font-family: Pretendard, sans-serif;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 36px;
		letter-spacing: -0.5px;
    }
    .body2{
        font-family: Pretendard, sans-serif;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%;
		letter-spacing: -0.5px;
    }
    .body3{
        font-family: Pretendard, sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
		letter-spacing: -0.5px;
    }
    .body4{
        font-family: Pretendard, sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%;
		letter-spacing: -0.5px;
    }
    .body5{
        font-family: Pretendard, sans-serif;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%;
		letter-spacing: 0;
    }
    .body6{
        font-family: Pretendard, sans-serif;
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%;
		letter-spacing: -0.25px;
    }
    .body7{
        font-family: Pretendard, sans-serif;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
		letter-spacing: -0.25px;
    }
}